*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: normal;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 50px;
}
.circulo{
    width: 250px;
    height: 250px;
    border: 1px solid #6DE39C;
    border-radius: 50%;
    background-color: rgb(46, 77, 0);
    background-image: url('../recursos/PHPVHLZF2JEGFAYOXEEVUDIVTQ.avif');
    background-size: 150px;
    background-repeat: no-repeat;
    background-size: 100%;

    background-position: 12px 50px;
    background-position-x: 0px;
    margin: auto;
    opacity: 0, 5;
    box-shadow: 0px 0px 10px 5px chartreuse;
}

h1 {
    color: rgb(200, 255, 2);
     font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 50px;
}

p {
    font-size: 18px;
    color: #333;
}
